@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: "Lato", sans-serif;
}

input {
    border: 1px solid #DdDdDd;
    border-radius: 5px;
    padding: .4rem .6rem;
}

button {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    font-size: 12pt;
    font-weight: 500;
    background-color: rgb(160, 255, 160);
}